﻿body {
}

.background {
    background-image: url(../images/Index/Santa-Barbara.jpg);
}

.container {
    padding: 40px;
}

.button {
    
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;

}

.align_bottom {

    position: fixed;
    width: 100%;
    height: 135px;
    padding: 8px;
    bottom: 0px;

}